* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    user-select: none;
}

body {
    background-color: #111111;
    color: #dddddd;
}

a {
    color: inherit;
}

a:hover {
    opacity: 0.8;
}

h1,
h2,
p {
    margin: 0;
    display: inline-block;
}

h1 {
    font-size: 1.5rem;
}

#biene {
    font-size: 2rem;
}

#versionandcopyright {
    opacity: 0.5;
    font-size: 0.7rem;
}

#ueberraschung {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2rem;
    z-index: 100;
    display: none;
    user-select: none;
}